@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
    color: #eceade;
    background: #2e2e2e
}

button {
    transition: left 0.2s, top 0.2s;
}

.bg-card {
    background-color: #eceade;
}